nvitop
psutil

flask
flask-socketio
flask-cors

# fastapi
# uvicorn

urllib3
requests

chardet
pyyaml
python-dotenv
packaging
humanfriendly

loguru

# pip install "li-group-center>=2.4.2" -i https://pypi.python.org/simple
li-group-center>=2.4.2

ruff
